/** @format */

.image-size {
  max-width: 400px;
  min-width: 400px;
}
.no-record-found {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}

.parent {
  display: block;
  margin: 20px 45px;
}
.no-rec {
  text-align: center;
  padding: 120px 0px;
  color: orange;
}
.card-btn {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  background-color: orange;
}

.card {
  display: flex;
  margin: 30px;
  align-items: center;
  min-width: 618px;
  max-width: 618px;
  overflow: auto;
}

.card-body {
  margin-left: 40px;
}

.c-title {
  font-size: 16px;
  text-align: start;
  color: #fff !important;
}

.card-text {
  text-align: start;
  color: #fff !important;
}

.card-name {
  color: #fff !important;
}

.go-back-btn {
  background: #cf843c;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 7px;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 19px;
}
