/* adminDashboard.css */
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* adminDashboard.css */

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.admin-header {
  background-color: green;
  color: white;
  padding: 20px;
  width: 100%;
}

.admin-header .logo img {
  height: 40px;
  width: auto;
}

.admin-header .user-info button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.dashboard-content {
  padding: 20px;
}

.dashboard-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard-buttons {
  margin-top: 20px;
}

.dashboard-buttons button {
  margin-right: 10px;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
