/* adminDashboard.css */
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(/public/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
html,
#root::before{
  content: '';
  position: absolute;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.716);
}

.admin-header {
  width: 100%;
  position: relative;
}
h2{
  color: white;
  position: relative;
}
h3{
  color: white;
  position: relative;
}

.admin-header .logo img {
  position: relative;
  height: 85px;
  width: auto;
  position: relative;
}

.admin-header .user-info button {
  font-size: 18px;
  background: green;
  border: 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.dashboard-content {
  padding: 20px;
  position: relative;
}

.dashboard-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  position: relative;
}

#button-admin{
  display: flex;
  position: relative;
}

#button-admin button{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  position: relative;
}
