.card-body{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.card-title{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
}
.card-body {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 12px; */
    /* border: groove; */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1) !important;
    position: relative;
}
.ripple {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
form{
    position: relative;
    /* border: groove; */
    min-height: 270px;
    /* background: darkgray; */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1);
}
label {
    flex-basis: 12px;
    margin-right: 20px;
    font-size: 18px;
    margin-left: 16px;
    position: relative;
}
#description{
    width: 82%;
    padding: 19px;
    position: relative;
}
.class-details{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 12px; */
    /* border: groove; */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1);
    position: relative;
}
.subject-cards{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 12px; */
    /* border: groove; */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1);
    position: relative;
}
.subject-cards h4 {
    display: flex;
    justify-content: center;
    position: relative;
}
button {
    justify-content: space-evenly;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    position: relative;
}
#subject-details{
    display: flex;
    justify-content: center;
    position: relative;
}
#teachers-form{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 12px; */
    /* border: groove; */
    /* background: none; */
    min-height: auto;
    margin-bottom: 25px;
    /* extra */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.1);
    position: relative;
}
